*.bin
*.log
*.jou
tmp_kernel*
packaged_kernel*
build_dir*
_x.*
.Xil
*.awsxclbin*
*.wcfg
*.protoinst
*.run_summary
*.wdb
*.csv
.run
to_aws
*.txt
*.dcp
*.tar
*_build.json
*_clocks.json
.ipcache/
host_bin
_x/
